<div class="container">
  <div class="row g-5">

    <!-- ! products - [START] ! -->
    <div class="col-md-6">
      <div class="products">

        <h2 class="title">Ürünler</h2>
        <div class="row g-4 gx-0 gx-lg-4">

          <div *ngFor="let item of products" class="col-12 col-lg-6">
            <div class="product">
              <img class="image" src="../assets/images/{{item.photo}}" [alt]="item.name">
              <div class="body">
                <h3 class="title">{{item.name}}</h3>
                <div class="price">{{item.price}} TL</div>
                <div class="footer">
                  <button type="button" class="decrease" (click)="setDecrease(item)">-</button>
                  <span class="menstruation">{{item.quantitiy}}</span>
                  <button type="button" class="increase" (click)="setIncrease(item)">+</button>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!-- ! products - [END^] ! -->

    <!-- ! hamper - [START] ! -->
    <div class="col-md-6">
      <h2 class="title">Sepet</h2>

      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Ürün</th>
            <th>Miktar</th>
            <th>Fiyat</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of basket">
            <td>{{item.name}}</td>
            <td>{{item.quantitiy}} {{item.unit}}</td>
            <td>{{(item.quantitiy * item.price).toFixed(2)}}</td>
          </tr>

          <tr>
            <td colspan="3" class="text-success">Toplam: {{getTotalPrice(2)}} TL</td>
          </tr>
        </tbody>
      </table>


    </div>
    <!-- ! hamper - [END^] ! -->

  </div>
</div>

<router-outlet></router-outlet>
